/* Style for Welcome Page */
#welcome {
	text-align: center;
	padding-top: 100px;
}

/* Hide all pages and the end screen by default */
.page,
#end {
	display: none;
}

/* Show the welcome screen by default */
#welcome {
	display: block;
}

/* Hide all elements except the title and start button on the welcome screen */
#welcome *:not(h1):not(button) {
	display: none;
}

/* Style for Comic Pages */
.page {
	text-align: center;
	margin: 0 auto;
}

/* Style for End Page */
#end {
	text-align: center;
	padding-top: 100px;
}

/* Style for Navigation Buttons */
button {
	margin: 20px;
	padding: 10px 20px;
	font-size: 20px;
	background-color: #ccc;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
	.page {
		max-width: 90%;
	}
}